<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Login - DETECTWARE</title>

  <!-- Vendor CSS Files -->
  <link href="{% static 'detector/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'detector/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'detector/assets/css/style.css' %}" rel="stylesheet">
</head>

<body>
  <main>
    <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
              <div class="d-flex justify-content-center py-4">
                <a href="{% url 'index' %}" class="logo d-flex align-items-center w-auto">
                  <img src="{% static 'detector/assets/img/diulogoside.png' %}" alt="">
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">
                <div class="card-body">
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                    <p class="text-center small">Enter your username & password to login</p>
                  </div>

                  {% if error %}
                  <div class="alert alert-danger" role="alert">
                    {{ error }}
                  </div>
                  {% endif %}

                  <form class="g-3" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="row g-3">
                      <div class="col-md-12">
                        <input type="text" name="username" class="form-control border-0 bg-light px-4 border" placeholder="Username..." style="height: 55px;" required>
                      </div>
                      <div class="col-md-12">
                        <input type="password" name="password" class="form-control border-0 bg-light px-4 border" placeholder="Password..." style="height: 55px;" required>
                      </div>
                      <a href="#" class="text-end">Forgate Password?</a>
                      <hr>
                      <div class="col-12">
                        <button class="btn btn-primary w-100 py-3" type="submit">Login</button>
                      </div>
                      <p class="text-center">or <br> <a href="{% url 'signup' %}">Register New Account</a></p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main><!-- End #main -->

  <!-- Vendor JS Files -->
  <script src="{% static 'detector/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'detector/assets/js/main.js' %}"></script>
</body>
</html>
